* {
  box-sizing: border-box;
}

/*body {
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}*/

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #0076D1;
}

a:after {
  color: #0076D1;
}

.map {
  position: absolute;
  /*left: 20%;*/
  width: 100%;
  top: 0;
  bottom: 0;
}

/*.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 30px;
    padding: 0 10px;
}

.warning-type {
  color: #ff0000;
}*/

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0;
}

.map-overlay {
  position: absolute;
  bottom: 30;
  right: 0;
  background: #fff;
  margin-right: 20px;
  overflow: auto;
  border-radius: 3px;
  width: 500px;
  padding: 10px;
  font: 400 12px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  transition: transform .5s ease-in-out;
}

a.boxclose {
  float: right;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #605F61;
  border-radius: 100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%);
  background-color: #605F61;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.map-overlay h3 {
  /*background: #0076D1;*/
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  /*margin-top: -15px;*/
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #0076D1;
}

main {
  height: 100%;
  width: 100%;
}

aside {
  background-color: #0076D1;
  /*background-color: lightseagreen;*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 1;
  overflow: scroll;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

label {
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: #0076D1;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}

.content {
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  transition: transform .5s ease-in-out;
}

h1 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 40px;
}

.asideList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, .7);
}

.asideAnchor {
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  padding: 20px 0;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color .3s .15s ease-in;
}

.asideAnchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  width: 0;
  transition: width .3s ease-in;
  z-index: -1;
}

.asideAnchor:hover {
  color: #0799d3;
}

.asideAnchor:hover > a {
  color: #0799d3
}

.asideAnchor:hover::after {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked~.content {
  transform: translateX(300px);
}

input[type="checkbox"]:checked~.content>.overlay-list>.map-overlay{
  transform: translateX(-300px);
}

input[type="checkbox"]:checked~.content>.map-overlay-legend{
  transform: translateX(-300px);
}

input[type="checkbox"]:checked~label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked~label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked~label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked~label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

.ua {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #0799d3;
  font-size: 2em;
  z-index: 2;
}


.svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.wave {
	stroke: rgba(255, 255, 255, 0.3);
	fill: rgba(255, 255, 255, 0.15);
}
.wave-bright {
	stroke: rgba(255, 255, 255, 0.4);
	fill: rgba(255, 255, 255, 0.2);
}

.map-overlay-legend {
  position: absolute;
  opacity: 0.8;
  top: 30;
  right: 0;
  background: #fff;
  margin-right: 20px;
  overflow: auto;
  border-radius: 3px;
  width: 300px;
  padding: 10px;
  font: 400 12px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  transition: transform .5s ease-in-out;
}

.legend{
  font-size: 14px;
  padding-left: 20px;
  background-color: #fff;
  text-align: left;
  border-bottom: 2px solid rgba(255, 255, 255, .7);
}

.legend-key {
  display: inline-block;
  border-radius: 40%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.legend-title{
  background-color: #0076D1; 
  text-align: left; 
  font-size: 14px; 
  color: #fff; 
  padding-left: 10px; 
  border-bottom: 2px solid rgba(255, 255, 255, .7);
}

.legend-title-strong{
  background-color: red; 
  text-align: left; 
  font-size: 14px; 
  color: #fff; 
  padding-left: 10px; 
  border-bottom: 2px solid rgba(255, 255, 255, .7);
}

.legend-title-warning{
  background-color: yellow; 
  text-align: left; 
  font-size: 14px; 
  /*color: #fff; */
  padding-left: 10px; 
  border-bottom: 2px solid rgba(255, 255, 255, .7);
}

.mapboxgl-popup {
  padding-bottom: 10px;
  opacity: 0.8;
}